<html>
    <head>
        <link href="../public/assets/login.css" rel="stylesheet" type="text/css" />
        <title>Admin-Monitor</title>
    </head>
    <body>
        <header>
            <div style="width: 100%; background-color: beige; height: 100px;">
                <div style="height: 100px;"><img src="../public/cssimages/logo.png" alt="logo" style="max-height: 100px;"></div>
            </div>
        </header>
    <section>
        <div class="hoveddiv">
            <h1>Registered Users:</h1>
            <h3><%= number %></h3>
            <h1>Number of Matches:</h1>
            <h3><%= matchnr %></h3>
            <br>
            <br>
            <a href="/adminmonitoring">Update Page</a>
            <br>
            <br> 
            <a href="/adminpage">Back to ADMIN page</a>
        </div>
    </section>
    
</body>
</html>
