<html>
<head>
    <link href="/public/assets/itsamatch.css" rel="stylesheet" type="text/css" />
    <title>Match!</title>
</head>
<body>
    <header>
        <div style="width: 100%; background-color: beige; height: 100px;">
            <div style="height: 100px;"><img src="/public/cssimages/logo.png" alt="logo" style="max-height: 100px;"></div>
        </div>
    </header>
    <section>
        <div class="hoveddiv">
           <h1 style="font-size: 45px; color: #ff00bf;">IT'S A MATCH!</h1>
           <form action="/match" method="POST"><button type="submit">Continue</button></form>
        </div>
    </section>
    
</body>
</html>
