<html>
<head>
    <link href="/public/assets/register.css" rel="stylesheet" type="text/css" />
    <title>Update Profile</title>
</head>
<body>
    <header>
        <div style="width: 100%; background-color: beige; height: 100px;">
            <div style="height: 100px;"><img src="/public/cssimages/logo.png" alt="logo" style="max-height: 100px;"></div>
        </div>
    </header>
    <section>
        <form action="/updateprofile" method="POST">
            <div class="hoveddiv">
                <h1>Update your profile</h1>
                <div>
                    <p>Name</p>
                    <label for="name"></label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div>
                    <p>Age</p>
                    <label for="age"></label>
                    <input type="text" id="age" name="age" required>
                </div>
                <div>
                    <p>Partners age should be:</p>
                    <input type="number" id="age" placeholder="From" name="interrestedagefrom" required>
                    <input type="number" id="age" placeholder="To" name="interrestedageto" required>
                </div>
                <div>
                    <p>Your Gender</p>
                    <input type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label>
                    <input type="radio" id="female" name="gender" value="female">
                    <label for="female">Female</label>
                </div>
                <div>
                    <p>Interrested in:</p>
                    <input type="radio" id="male" name="interrestedgender" value="male">
                    <label for="male">Male</label>
                    <input type="radio" id="female" name="interrestedgender" value="female">
                    <label for="female">Female</label>
                </div>
                <div>
                    <p>Your Height</p>
                    <input type="radio" id="160" name="height" value="160">
                    <label for="160">Under 160cm</label>
                    <br>
                    <input type="radio" id="160180" name="height" value="160180">
                    <label for="160180">Between 160 and 180cm</label>
                    <br>
                    <input type="radio" id="180" name="height" value="180">
                    <label for="180">Over 180cm</label>
                </div>
                <div>
                    <p>Partners Height Must Be:</p>
                    <input type="radio" id="160" name="heightint" value="160">
                    <label for="160">Under 160cm</label>
                    <br>
                    <input type="radio" id="160180" name="heightint" value="160180">
                    <label for="160180">Between 160 and 180cm</label>
                    <br>
                    <input type="radio" id="180" name="heightint" value="180">
                    <label for="180">Over 180cm</label>
                </div>
                <div>
                    <p>Email</p>
                    <input type="text" id="email" name="email" required>
                </div>
                <br>
                <p>Please fill all the above before updating</p>
                <br>
                <button type="submit">Update</button>
                <br>
                <a href="/">PRESS HERE WHEN DONE!</a>
                <a href="/">Don't Update</a>
            </div>
        </form>
    </section>
		
</body>

</html>