<html>
<head>
    <link href="/public/assets/register.css" rel="stylesheet" type="text/css" />
    <title>MATCHES</title>
</head>
<body>
    <header>
        <div style="width: 100%; background-color: beige; height: 100px;">
            <div style="height: 100px;"><img src="/public/cssimages/logo.png" alt="logo" style="max-height: 100px;"></div>
        </div>
    </header>
    <section>
        <form action="/viewdeletematches" method="POST">
            <div class="hoveddiv">
                <div>
                    <h2>Matches:</h2><p><%- matches %></p>
                </div>
                <h1>DELETE A MATCH</h1>
                <div>
                    <p>Match ID</p>
                    <label for="id"></label>
                    <input type="int" id="id" name="id" required>
                </div>
                <br>
                <p>Please fill the designated match id to delete match</p>
                <br>
                <button type="submit">Delete</button>
                <br>
                <p>After pressing Delete press on DONE</p>
                <a href="/">DONE</a>
            </div>
        </form>
    </section>
		
</body>

</html>