body{
    background-image: url('../cssimages/hornybackground2.jpg');
    background-size: cover;
    background-position-x: center;
    margin: 0;
    padding: 0;
    text-align: center;
}
.hoveddiv{
    padding: 5px;
    padding-left: 90px;
    padding-right: 90px;
    text-align: center;
    margin: auto;
    width: 220px;
    margin-top: 100px;
    border: 1px solid #616161;
    background-color: #f7f7f3;
    border-style: groove;
    border-radius: 25px;
    box-shadow: 1px 1px 2px black, 0 0 25px rgb(94, 94, 94), 0 0 5px rgb(107, 107, 107);;
}
